.btn-close {
  width: 40px;
  height: 40px;
  background-image: url(../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  border: none;
  background-color: transparent;
}