.btn-add {
  /*intenté agrupar todos los botones dentro de un mismo bloque "btn"
  pero choqué con problemas de modificador, ya que cada boton
  pasaría a ser un modificador del bloque "btn" y algunos de esos botones
  necesitan también un modificador como "activo", busqué por todas partes si es
  posible implementar un modificador de otro modificador pero no
  encuentro una forma de hacerlo, además como los botones sólo comparten
  algunos estilos, considero que sería mejor mantener a cada boton como un
  bloque independiente*/

  width: 150px;
  height: 50px;
  background-image: url(../../images/add-icon.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  border: 1px solid white;
}

.btn-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .btn-add {
    width: 100%;
  }
}
