.input {
    width: 100%;
    height: 40px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    border: none;
    border-bottom: 1px solid black;
}

.input:focus {
    color: grey;
    outline: none;
  }