.profile {
  width: 100%;
  margin-top: 40px;

  display: flex;
  justify-content: stretch;
  align-items: center;

  position: relative;
}

@media screen and (max-width: 720px) {
  .profile {
    max-width: 282px;
    flex-direction: column;

    margin-top: 38px;
  }
}
