.form__error {
    position: absolute;
    top: 74px;
    left: 0;
    z-index: 1;

    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
}