.profile__edit-cover {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-right: 30px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../../../images/edit-cover-icon.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.0;
}

.profile__edit-cover:hover {
    opacity: 1.0;
}

@media screen and (max-width: 720px) {
  .profile__edit-cover {
    left: auto;
  }
}
