.btn-like {
  width: 21px;
  height: 19px;
  background-image: url(../../images/like-icon.svg);
  background-color: white;
  background-repeat: no-repeat;
  object-fit: contain;
  border: none;
}

.btn-like:hover {
  opacity: 0.5;
}
